#btnFS{
    color: #558996;
    position: absolute;
    margin-top: 674px;
    margin-left: 520px;
    font-size: 17px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
}

#modal{
    margin-top: 150px;
}
