#btnFS{
    color: #558996;
    position: absolute;
    margin-top: 674px;
    margin-left: 520px;
    font-size: 17px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
}

#modal{
    margin-top: 150px;
}
.view-session-user-modal .modal-lg {

}
.view-session-user-modal-body #poll_vot_section{

}

h5{
    font-size: unset;
}

#popup_title_lbl{
    margin-bottom: 20px;
    color: #000;
    font-weight: 800;
    /*font-size: 1.2rem;*/
    padding: 15px 5px 25px 10px;
    background-color: #ebeaea;
}

#result_section{
    /*line-height: 2rem !important;*/
}

/* Large */
@media (min-width: 64em) {
    .view-session-user-modal .modal-lg{
        width: 90vw;

    }
    .view-session-user-modal .modal-content{
        width: 90vw;

    }
}

/* X-Large */
@media (min-width: 80em) {
    .view-session-user-modal .modal-lg{
        width: 90vw;

    }
    .view-session-user-modal .modal-content{
        width: 90vw;

    }
}

html{
    font-size:100%
}