h1{
    margin: 0;
}

.feed-control-icons{
    margin-left: 47%;
}

.mute-mic-btn-icon{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    cursor: pointer;
    padding: 7px 0 0 32px;
    width: 100px;
    height: 53px;
}

.share-screen-btn-icon{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    cursor: pointer;
    padding: 7px 0 0 29px;
    width: 100px;
    height: 53px;
}

.name-tag{
    position: absolute;
    margin-left: -98%;
    margin-top: 0%;
    background-color: #ffffff6e;
    font-weight: bold;
    padding: 1px 10px 1px 32px;
}

.fullscreen-btn{
    position: absolute;
    margin-left: -9%;
    background-color: #ffffff63;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

.nametag-fullscreen{
    margin-top: 59%;
    font-size: 35px;
    padding: 10px;
}

.fullscreen-btn-fullscreen{
    padding: 7px 15px 7px 15px;
    margin-left: -4%;
}
